snippet media "Any" b
  @media ${1}(${2:min-width:} ${3:422px}) {${4}}


snippet sm "screen small pixel" i
  576px


snippet md "screen medium pixel" i
  768px


snippet lg "screen large pixel" i
  992px


snippet xl "screen extra large pixel" i
  1200px


snippet xxl "screen extra extra large pixel" i
  14000px

